.git
.ackrc

**/__pycache__
**/*.pyc
**/*.pyo

**/*.pyd
**/*.so

.coverage
.coverage.*
htmlcov/
coverage/

.pytest_cache
.tox
pytest.xml

build/
dist/
venv/
vendor/
requirements/.*.installed

Brewfile.lock.json
.venv.mk

.buildkite/

Dockerfile

data/
HomebrewFormula/
gitea/

tests/
