.git

**/__pycache__
**/*.pyc
**/*.pyo

**/*.pyd
**/*.so

.coverage
.coverage.*
htmlcov/
coverage/

.pytest_cache
.tox
pytest.xml

build/
dist/
venv/
vendor/

.buildkite

Dockerfile

data/
HomebrewFormula/
gitea/
