*.egg-info
*.py?
/data
/venv
/pip-wheel-metadata

vendor/curl/**
!vendor/curl/Makefile
vendor/gdal/**
!vendor/gdal/Makefile
vendor/geos/**
!vendor/geos/Makefile
vendor/git/**
!vendor/git/Makefile
vendor/jsonc/**
!vendor/jsonc/Makefile
vendor/libgit2/**
!vendor/libgit2/Makefile
vendor/libpq/**
!vendor/libpq/Makefile
vendor/proj/**
!vendor/proj/Makefile
vendor/pygit2/**
!vendor/pygit2/Makefile
vendor/spatialindex/**
!vendor/spatialindex/Makefile
vendor/spatialite/**
!vendor/spatialite/Makefile
vendor/sqlite/**
!vendor/sqlite/Makefile
vendor/.ccache/
vendor/env/
vendor/wheelhouse/
vendor/dist/
vendor/build/
vendor/Brewfile.lock.json

/platforms/*/build/
/platforms/*/dist/
/platforms/linux/.cache/
/platforms/linux/.docker-sno-fpm
/platforms/linux/sqlite3

/tests/data/*/
!/tests/data/patches
/tests/data/*.zip
/coverage
pytest.xml
.coverage
/.pytest*
/dist
/build
*.code-workspace
.vscode/

*.p12
