*.egg-info
*.py?
/data
/venv
/pip-wheel-metadata

vendor/apsw/**
!vendor/apsw/Makefile
vendor/curl/**
!vendor/curl/Makefile
vendor/gdal/**
!vendor/gdal/Makefile
vendor/geos/**
!vendor/geos/Makefile
vendor/git/**
!vendor/git/Makefile
vendor/jsonc/**
!vendor/jsonc/Makefile
vendor/libgit2/**
!vendor/libgit2/Makefile
vendor/libpq/**
!vendor/libpq/Makefile
vendor/proj/**
!vendor/proj/Makefile
vendor/psycopg2/**
!vendor/psycopg2/Makefile
vendor/pygit2/**
!vendor/pygit2/Makefile
vendor/pyodbc/**
!vendor/pyodbc/Makefile
vendor/pysqlite3/**
!vendor/pysqlite3/Makefile
vendor/spatialindex/**
!vendor/spatialindex/Makefile
vendor/spatialite/**
!vendor/spatialite/Makefile
vendor/sqlite/**
!vendor/sqlite/Makefile
!vendor/sqlite/version.mk
vendor/unixodbc/**
!vendor/unixodbc/Makefile
vendor/.ccache/
vendor/env/
vendor/wheelhouse/
vendor/dist/
vendor/build/
vendor/Brewfile.lock.json

/platforms/*/build/
/platforms/*/dist/
/platforms/linux/.cache/
/platforms/linux/.docker-*
/platforms/linux/sqlite3

/tests/data/*/
/tests/data/*.zip
!/tests/data/conflicts
!/tests/data/patches
!/tests/data/upgrade
/tests/data/conflicts/*/
/tests/data/upgrade/v0/*/
/tests/data/upgrade/v1/*/
/tests/data/upgrade/v2.kart/*/
/tests/data/upgrade/v2.sno/*/
/coverage
pytest.xml
.coverage*
/.pytest*
/test-results/
/dist
/build
*.code-workspace
.vscode/

*.p12
kart/_env.py
