appnope==0.1.0
backcall==0.1.0
cffi==1.12.1
Click==7.0
colorama==0.4.1
decorator==4.3.2
gitdb2==2.0.5
GitPython==2.1.11
ipdb==0.11
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.2
parso==0.3.4
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==2.0.8
ptyprocess==0.6.0
pycparser==2.17
pygit2==0.27.4
Pygments==2.3.1
six==1.12.0
smmap2==2.0.5
traitlets==4.3.2
wcwidth==0.1.7
