boto3>=1.29.1
certifi
# TODO: Switch back to official Click once 9.0.0 is released
# Using filelike-pager branch for click.get_pager_file() support (PR #1572)
# Once merged into Click 9.0.0, switch back to: click~=9.0
# See: https://github.com/pallets/click/pull/1572
click @ git+https://github.com/craigds/click.git@filelike-pager
docutils<0.18
msgspec~=0.18.6
Pygments
pymysql
shellingham
sqlalchemy~=1.4
tqdm
jsonschema>=4.3
# Required by pkg_resources in setuptools >=70.0.0
# These match the vendored packages in setuptools._vendor
jaraco.text
jaraco.functools
jaraco.context
jaraco.collections
# Dependencies of jaraco packages
more-itertools
platformdirs

# these are only here for dependencies, we build them in vcpkg-vendor,
# and they're removed by CMake from the final requirements.txt files.
# versions come from vcpkg-vendor/CMakeLists.txt
-r vendor-wheels.txt
