boto3>=1.29.1
certifi
# 8.2.x breaks --diff-format somehow (?)
# 8.3.0 fixes that but breaks Context.invoke (https://github.com/pallets/click/pull/3068)
click==8.1.7
docutils<0.18
msgspec~=0.18.6
Pygments
pymysql
rst2txt
shellingham
sqlalchemy~=1.4
tqdm
jsonschema>=4.3

# these are only here for dependencies, we build them in vcpkg-vendor,
# and they're removed by CMake from the final requirements.txt files.
# versions come from vcpkg-vendor/CMakeLists.txt
-r vendor-wheels.txt
