certifi
Click~=8.1
cryptography
msgpack~=0.6.1
pymysql
Pygments
Rtree~=0.9.4
sqlalchemy
pyodbc ; platform_system!="Linux"
shellingham
click-man

# jsonschema>=4.2 pulls in importlib_resources, which breaks PyInstaller<4.8
# https://github.com/pyinstaller/pyinstaller/pull/6195
# https://github.com/koordinates/kart/issues/425
jsonschema<4.2


# these are only here for dependencies
psycopg2==2.8.5
pygit2==1.3.0

# workaround weird import error with pyinstaller
# https://github.com/pypa/setuptools/issues/1963#issuecomment-656811086
setuptools~=49.1.1
