---
name: Build

on: [push, pull_request]

env:
  PY_VER: "3.12"
  CMAKE_VERSION: "~3.25.0"
  FORCE_COLOR: "YES"
  KART_S3_TEST_DATA_POINT_CLOUD: "s3://kart-bring-your-own-data-poc/auckland-small-laz1.2/*.laz"
  KART_S3_TEST_DATA_RASTER: "s3://kart-bring-your-own-data-poc/erorisk_si/*.tif"
  AWS_NO_SIGN_REQUEST: "1"

jobs:
  # Common jobs (type-checking, ECR auth)
  common:
    # We want to run on external PRs, but not on our own internal PRs as they'll be run
    # by the push to the branch.
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    uses: ./.github/workflows/build-common.yml

  # Linux builds
  linux:
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    needs: [common]
    uses: ./.github/workflows/build-linux.yml
    with:
      py_ver: "3.12"
      cmake_version: "~3.25.0"
      force_color: "YES"
      kart_s3_test_data_point_cloud: "s3://kart-bring-your-own-data-poc/auckland-small-laz1.2/*.laz"
      kart_s3_test_data_raster: "s3://kart-bring-your-own-data-poc/erorisk_si/*.tif"
      aws_no_sign_request: "1"
      ecr_username: ${{ needs.common.outputs.ecr_username }}
      ecr_password: ${{ needs.common.outputs.ecr_password }}

  # macOS builds
  macos:
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    uses: ./.github/workflows/build-macos.yml
    with:
      py_ver: "3.12"
      cmake_version: "~3.25.0"
      force_color: "YES"
      kart_s3_test_data_point_cloud: "s3://kart-bring-your-own-data-poc/auckland-small-laz1.2/*.laz"
      kart_s3_test_data_raster: "s3://kart-bring-your-own-data-poc/erorisk_si/*.tif"
      aws_no_sign_request: "1"
    secrets:
      MACOS_CODESIGN_ID: ${{ secrets.MACOS_CODESIGN_ID }}
      MACOS_PKGSIGN_ID: ${{ secrets.MACOS_PKGSIGN_ID }}
      MACOS_NOTARIZE_TEAMID: ${{ secrets.MACOS_NOTARIZE_TEAMID }}
      MACOS_NOTARIZE_USER: ${{ secrets.MACOS_NOTARIZE_USER }}
      MACOS_NOTARIZE_PW: ${{ secrets.MACOS_NOTARIZE_PW }}
      MACOS_APP_CERT: ${{ secrets.MACOS_APP_CERT }}
      MACOS_CERT_PW: ${{ secrets.MACOS_CERT_PW }}
      MACOS_INSTALLER_CERT: ${{ secrets.MACOS_INSTALLER_CERT }}

  # Windows builds
  windows:
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository
    uses: ./.github/workflows/build-windows.yml
    with:
      py_ver: "3.12"
      cmake_version: "~3.25.0"
      force_color: "YES"
      kart_s3_test_data_point_cloud: "s3://kart-bring-your-own-data-poc/auckland-small-laz1.2/*.laz"
      kart_s3_test_data_raster: "s3://kart-bring-your-own-data-poc/erorisk_si/*.tif"
      aws_no_sign_request: "1"
    secrets:
      WIN_SIGN_AZURE_CERTIFICATE: ${{ secrets.WIN_SIGN_AZURE_CERTIFICATE }}
      WIN_SIGN_AZURE_VAULT: ${{ secrets.WIN_SIGN_AZURE_VAULT }}
      WIN_SIGN_AZURE_CLIENTID: ${{ secrets.WIN_SIGN_AZURE_CLIENTID }}
      WIN_SIGN_AZURE_CLIENTSECRET: ${{ secrets.WIN_SIGN_AZURE_CLIENTSECRET }}
      WIN_SIGN_AZURE_TENANTID: ${{ secrets.WIN_SIGN_AZURE_TENANTID }}
