---
name: Windows Build

on:
  workflow_call:
    inputs:
      py_ver:
        required: true
        type: string
      cmake_version:
        required: true
        type: string
      force_color:
        required: true
        type: string
      kart_s3_test_data_point_cloud:
        required: true
        type: string
      kart_s3_test_data_raster:
        required: true
        type: string
      aws_no_sign_request:
        required: true
        type: string
    secrets:
      WIN_SIGN_AZURE_CERTIFICATE:
        required: false
      WIN_SIGN_AZURE_VAULT:
        required: false
      WIN_SIGN_AZURE_CLIENTID:
        required: false
      WIN_SIGN_AZURE_CLIENTSECRET:
        required: false
      WIN_SIGN_AZURE_TENANTID:
        required: false

jobs:
  #
  # Windows
  #
  Windows:
    strategy:
      matrix:
        os: [{id: windows-2022, label: "2022/x64"}]
    runs-on: ${{ matrix.os.id }}
    name: Windows ${{ matrix.os.label }}

    env:
      PY_VER: ${{ inputs.py_ver }}
      CMAKE_VERSION: ${{ inputs.cmake_version }}
      FORCE_COLOR: ${{ inputs.force_color }}
      KART_S3_TEST_DATA_POINT_CLOUD: ${{ inputs.kart_s3_test_data_point_cloud }}
      KART_S3_TEST_DATA_RASTER: ${{ inputs.kart_s3_test_data_raster }}
      AWS_NO_SIGN_REQUEST: ${{ inputs.aws_no_sign_request }}
      NINJA_VERSION: "~1.10.2"  # workaround for python logging output buffering noise
      SIGN_AZURE_CERTIFICATE: ${{ secrets.WIN_SIGN_AZURE_CERTIFICATE }}

    # Windows builds are expensive, so only run them when:
    # - Pushing a tag/release (always build releases)
    # - Pushing a commit with 'ci-build-all' in the message
    # - External PR with 'ci-build-all' label
    # We skip internal PRs since they'll be run by the push to the branch.
    # https://github.community/t/duplicate-checks-on-push-and-pull-request-simultaneous-event/18012/7
    if: >
      (
        (
          github.event_name == 'push'
          && (
            github.ref_type == 'tag'
            || contains(join(github.event.commits.*.message, ' '), 'ci-build-all')
          )
        )
        || (
          contains(github.event.pull_request.labels.*.name, 'ci-build-all')
        )
      )

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      # Setup

      - name: "msvc setup"
        uses: ilammy/msvc-dev-cmd@v1

      - name: "Harden vcvarsall.bat"
        shell: pwsh
        run: |
          cd 'C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build'
          mv vcvarsall.bat orig_vcvarsall.bat
          echo @'
          @if not "%VSCMD_DEBUG%" GEQ "3" echo off
          FOR /F "tokens=*" %%g IN ('powershell -Command "($Env:PATH.split(';') | Select -Unique) -Join ';'"') do (SET PATH=%%g)
          '@ > vcvarsall.bat
          type orig_vcvarsall.bat >> vcvarsall.bat

      - name: "setup: cmake"
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: "${{ env.CMAKE_VERSION }}"
          ninjaVersion: "${{ env.NINJA_VERSION }}"

      - name: "setup: python"
        uses: actions/setup-python@v4
        with:
          python-version: "${{ env.PY_VER }}"
          architecture: x64
          cache: 'pip'
          cache-dependency-path: 'requirements/*.txt'

      - name: "setup: restore vcpkg cache"
        uses: actions/cache/restore@v4
        with:
          path: ${{ github.workspace }}/vcpkg_cache
          key: vcpkg-x64-windows-${{ hashFiles('vcpkg-vendor/vcpkg.json', '.git/modules/vcpkg-vendor/vcpkg/HEAD', 'vcpkg-vendor/vcpkg-overlay-*') }}
          restore-keys: |
            vcpkg-x64-windows-

      - name: "setup: vcpkg"
        uses: lukka/run-vcpkg@v11
        env:
          VCPKG_BINARY_SOURCES: "clear;files,${{ github.workspace }}/vcpkg_cache,readwrite"
        with:
          vcpkgDirectory: "${{ github.workspace }}/vcpkg-vendor/vcpkg"
          vcpkgJsonGlob: "**/vcpkg-vendor/vcpkg.json"
          doNotCache: true

      - name: "setup: misc"
        shell: pwsh
        run: |
          & dotnet tool install --global AzureSignTool --version 3.0.0
          & choco install sqlite.shell

      #
      # App Build
      #

      - name: "app: version"
        id: version
        shell: bash
        run: |
          if [[ '${{ github.ref_type }}' == 'tag' ]] && [[ '${{ github.ref_name }}' =~ ^v(.*) ]]; then
            VER=$(echo ${{ github.ref_name }} | sed 's/^v//')
            IS_RELEASE=1
          else
            VER=$(sed -E "s/(.*)/\1+ci.${{ github.run_number }}.git${GITHUB_SHA::8}/" kart/VERSION)
            IS_RELEASE=0
          fi
          echo "App Version: $VER"
          echo "Is Release? $IS_RELEASE"
          echo "value=$VER" >> $GITHUB_OUTPUT
          echo "KART_VERSION=$VER" >> $GITHUB_ENV
          echo "is_release=$IS_RELEASE" >> $GITHUB_OUTPUT

          if (( $IS_RELEASE )) && [[ -n "$SIGN_AZURE_CERTIFICATE" ]]; then
            echo "WIN_SIGN_BUNDLE=ON" >> $GITHUB_ENV
            echo "WIN_SIGN_INSTALLER=ON" >> $GITHUB_ENV
          else
            echo "WIN_SIGN_BUNDLE=OFF" >> $GITHUB_ENV
            echo "WIN_SIGN_INSTALLER=OFF" >> $GITHUB_ENV
          fi

      - name: "app: configuration & vendor dependencies"
        uses: lukka/run-cmake@v10.8
        with:
          configurePreset: ci-windows

      - name: "app: build"
        uses: lukka/run-cmake@v10.8
        with:
          configurePreset: ci-windows
          buildPreset: ci-windows

      - name: "setup: save vcpkg cache"
        uses: actions/cache/save@v4
        with:
          path: ${{ github.workspace }}/vcpkg_cache
          key: vcpkg-x64-windows-${{ hashFiles('vcpkg-vendor/vcpkg.json', '.git/modules/vcpkg-vendor/vcpkg/HEAD', 'vcpkg-vendor/vcpkg-overlay-*') }}

      - name: "vendor: save archive"
        uses: actions/upload-artifact@v4
        with:
          name: vendor-windows-${{ runner.arch }}-py${{ env.PY_VER }}
          path: build/vcpkg-vendor/kart-vendor.*.zip
          if-no-files-found: error

      #
      # App tests & checks
      #

      - name: "test: smoke test"
        shell: bash
        run: |
          ./build/kart.cmd --version

      - name: "test: unit tests"
        uses: lukka/run-cmake@v10.8
        with:
          configurePreset: ci-windows
          testPreset: ci-windows

      #
      # Packaging
      #

      - name: "bundle: assemble"
        uses: lukka/run-cmake@v10.8
        env:
          SIGN_AZURE_VAULT: ${{ secrets.WIN_SIGN_AZURE_VAULT }}
          SIGN_AZURE_CLIENTID: ${{ secrets.WIN_SIGN_AZURE_CLIENTID }}
          SIGN_AZURE_CLIENTSECRET: ${{ secrets.WIN_SIGN_AZURE_CLIENTSECRET }}
          SIGN_AZURE_TENANTID: ${{ secrets.WIN_SIGN_AZURE_TENANTID }}
        with:
          configurePreset: ci-windows
          buildPreset: ci-bundle-windows

      - name: "bundle: smoke test"
        shell: bash
        run: |
          ./build/pyinstaller/dist/kart/kart.exe --version

      - name: "bundle: e2e tests"
        uses: lukka/run-cmake@v10.8
        with:
          configurePreset: ci-windows
          testPreset: ci-e2e-windows

      - name: "package: ZIP & MSI"
        env:
          SIGN_AZURE_VAULT: ${{ secrets.WIN_SIGN_AZURE_VAULT }}
          SIGN_AZURE_CLIENTID: ${{ secrets.WIN_SIGN_AZURE_CLIENTID }}
          SIGN_AZURE_CLIENTSECRET: ${{ secrets.WIN_SIGN_AZURE_CLIENTSECRET }}
          SIGN_AZURE_TENANTID: ${{ secrets.WIN_SIGN_AZURE_TENANTID }}
        shell: bash
        run: |
          if ! cpack --preset=ci-windows; then
            cat build/dist/_CPack_Packages/win64/WIX/wix.log
            exit 1
          fi

      - name: "package: save ZIP"
        uses: actions/upload-artifact@v4
        with:
          name: Kart-windows-${{ runner.arch }}-bundle
          path: build/dist/Kart-*.zip
          if-no-files-found: error

      - name: "package: save MSI"
        uses: actions/upload-artifact@v4
        with:
          name: Kart-windows-${{ runner.arch }}-installer
          path: build/dist/Kart-*.msi
          if-no-files-found: error

      - name: "package: tests"
        shell: pwsh
        run: |
          $ErrorView = 'NormalView'
          $msi = Resolve-Path -Path ".\build\dist\Kart-*.msi" | Select-Object -ExpandProperty Path
          $sqlitePath = Resolve-Path -Path ".\build\vcpkg_installed\x64-windows\tools" | Select-Object -ExpandProperty Path

          Write-Host "Installing $msi ..." -ForegroundColor Green
          & "msiexec.exe" /I $msi /quiet /norestart /l* install.log | Out-Default
          if (!$?) {
            Get-Content install.log
            throw "MSI install failed"
          }

          Write-Host "Refreshing system path..." -ForegroundColor Green
          $env:Path = [System.Environment]::GetEnvironmentVariable("Path", "Machine") + ";" +[System.Environment]::GetEnvironmentVariable("Path", "User") + ";" + $sqlitePath

          Write-Host "Checking Kart runs..." -ForegroundColor Green
          & "kart" --version  | Out-Default
          if (!$?) {throw "Smoke test Failed"}

          Write-Host "Running Kart E2E tests..." -ForegroundColor Green
          & "tests\scripts\e2e-1.ps1" | Out-Default
          if (!$?) {throw "E2E test Failed"}

      - name: "release"
        uses: softprops/action-gh-release@v1
        if: "steps.version.outputs.is_release == 1"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          draft: true
          files: |
            build/dist/Kart-*.zip
            build/dist/Kart-*.msi
