---
name: macOS Build

on:
  workflow_call:
    inputs:
      py_ver:
        required: true
        type: string
      cmake_version:
        required: true
        type: string
      force_color:
        required: true
        type: string
      kart_s3_test_data_point_cloud:
        required: true
        type: string
      kart_s3_test_data_raster:
        required: true
        type: string
      aws_no_sign_request:
        required: true
        type: string
    secrets:
      MACOS_CODESIGN_ID:
        required: false
      MACOS_PKGSIGN_ID:
        required: false
      MACOS_NOTARIZE_TEAMID:
        required: false
      MACOS_NOTARIZE_USER:
        required: false
      MACOS_NOTARIZE_PW:
        required: false
      MACOS_APP_CERT:
        required: false
      MACOS_CERT_PW:
        required: false
      MACOS_INSTALLER_CERT:
        required: false

jobs:
  #
  # macOS
  #
  macOS:
    # macOS builds are expensive, so only run them when:
    # - Pushing a tag/release (always build releases)
    # - Pushing a commit with 'ci-build-all' in the message
    # - External PR with 'ci-build-all' label
    # We skip internal PRs since they'll be run by the push to the branch.
    # https://github.community/t/duplicate-checks-on-push-and-pull-request-simultaneous-event/18012/7
    if: >
      (
        (
          github.event_name == 'push'
          && (
            github.ref_type == 'tag'
            || contains(join(github.event.commits.*.message, ' '), 'ci-build-all')
          )
        )
        || (
          contains(github.event.pull_request.labels.*.name, 'ci-build-all')
        )
      )
    strategy:
      fail-fast: false
      matrix:
        os:
          # TODO: switch to a cheaper third-party runner
          - id: macos-14
            label: "14/arm64"
            arch_triplet: arm64-osx
    runs-on: ${{ matrix.os.id }}
    name: macOS ${{ matrix.os.label }}

    env:
      PY_VER: ${{ inputs.py_ver }}
      CMAKE_VERSION: ${{ inputs.cmake_version }}
      FORCE_COLOR: ${{ inputs.force_color }}
      KART_S3_TEST_DATA_POINT_CLOUD: ${{ inputs.kart_s3_test_data_point_cloud }}
      KART_S3_TEST_DATA_RASTER: ${{ inputs.kart_s3_test_data_raster }}
      AWS_NO_SIGN_REQUEST: ${{ inputs.aws_no_sign_request }}
      CCACHE_DIR: ${{ github.workspace }}/.cache/ccache
      CCACHE_COMPRESS: "1"
      ARCH_TRIPLET: ${{ matrix.os.arch_triplet }}
      HOMEBREW_CACHE: ${{ github.workspace }}/.cache/brew
      HOMEBREW_NO_INSTALL_CLEANUP: "1"
      MACOS_CODESIGN_ID: ${{ secrets.MACOS_CODESIGN_ID }}
      MACOS_PKGSIGN_ID: ${{ secrets.MACOS_PKGSIGN_ID }}
      MACOS_NOTARIZE_KEYCHAIN_PROFILE: "NOTARIZE_AUTH"
      MACOS_NOTARIZE_KEYCHAIN_FILENAME: "signing_temp"
      MACOS_NOTARIZE_KEYCHAIN: "/Users/runner/Library/Keychains/signing_temp.keychain-db"
      # X.Y version needs to match PY_VER:
      PY_VER_INSTALLER: "https://www.python.org/ftp/python/3.12.10/python-3.12.10-macos11.pkg"

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      #
      # setup
      #

      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable

      # TODO: cache
      - name: "setup: python"
        run: |
          curl -sSfL -o ${{runner.temp}}/py.pkg "${PY_VER_INSTALLER}"
          sudo installer -pkg ${{runner.temp}}/py.pkg -target /
          sudo ln -sf python3 /Library/Frameworks/Python.framework/Versions/${PY_VER}/bin/python
          export PATH="/Library/Frameworks/Python.framework/Versions/${PY_VER}/bin:$PATH"
          which python3
          python3 -V --version
          which python
          python -V --version
          echo /Library/Frameworks/Python.framework/Versions/${PY_VER}/bin >> $GITHUB_PATH

      - name: "setup: golang"
        uses: actions/setup-go@v4
        with:
          go-version: '^1.21.1'

      - name: "setup: rust"
        uses: dtolnay/rust-toolchain@stable

      - name: "setup: homebrew cache"
        id: cache-brew
        uses: actions/cache@v4
        with:
          path: .cache/brew
          key: brew-cmake-${{ matrix.os.id }}-vcpkg

      - name: "setup: cmake & ninja"
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: "${{ env.CMAKE_VERSION }}"

      - name: "setup: ccache"
        uses: actions/cache@v4
        if: steps.cache-vendor-dist.outputs.cache-hit != 'true'
        with:
          path: ${{ env.CCACHE_DIR }}
          key: vendor-ccache-${{ matrix.os.id }}-vcpkg

      # The brew install command sometimes fails on the first try but succeeds on the second :-/
      - name: "setup: misc"
        run: |
          PACKAGES="autoconf automake ccache libtool openssl pandoc pkgconf"
          brew update --quiet
          brew install --quiet $PACKAGES || brew install --quiet $PACKAGES
          mkdir -p ${{ env.CCACHE_DIR }}
          echo "$(brew --prefix)/opt/ccache/libexec" >> $GITHUB_PATH

      - name: "setup: restore vcpkg cache"
        uses: actions/cache/restore@v4
        with:
          path: ${{ github.workspace }}/vcpkg_cache
          key: vcpkg-${{ matrix.os.arch_triplet }}-${{ hashFiles('vcpkg-vendor/vcpkg.json', '.git/modules/vcpkg-vendor/vcpkg/HEAD', 'vcpkg-vendor/vcpkg-overlay-*/**') }}
          restore-keys: |
            vcpkg-${{ matrix.os.arch_triplet }}-

      - name: "setup: vcpkg"
        uses: lukka/run-vcpkg@v11
        env:
          VCPKG_BINARY_SOURCES: "clear;files,${{ github.workspace }}/vcpkg_cache,readwrite"
        with:
          vcpkgDirectory: "${{ github.workspace }}/vcpkg-vendor/vcpkg"
          vcpkgJsonGlob: "**/vcpkg-vendor/vcpkg.json"
          doNotCache: true

      #
      # App Build
      #

      - name: "app: version"
        id: version
        env:
          MACOS_NOTARIZE_TEAMID: ${{ secrets.MACOS_NOTARIZE_TEAMID }}
        run: |
          if [[ '${{ github.ref_type }}' == 'tag' ]] && [[ '${{ github.ref_name }}' =~ ^v(.*) ]]; then
            VER=$(echo ${{ github.ref_name }} | sed 's/^v//')
            IS_RELEASE=1
          else
            VER=$(sed -E "s/(.*)/\1+ci.${{ github.run_number }}.git${GITHUB_SHA::8}/" kart/VERSION)
            IS_RELEASE=0
          fi
          echo "App Version: $VER"
          echo "Is Release? $IS_RELEASE"
          echo "value=$VER" >> $GITHUB_OUTPUT
          echo "KART_VERSION=$VER" >> $GITHUB_ENV
          echo "is_release=$IS_RELEASE" >> $GITHUB_OUTPUT

          if [[ -n "$MACOS_CODESIGN_ID" ]]; then
            echo "MACOS_SIGN_BUNDLE=ON" >> $GITHUB_ENV
          else
            echo "MACOS_SIGN_BUNDLE=OFF" >> $GITHUB_ENV
          fi
          if (( $IS_RELEASE )) && [[ -n "$MACOS_PKGSIGN_ID" ]]; then
            echo "MACOS_SIGN_PKG=ON" >> $GITHUB_ENV
          else
            echo "MACOS_SIGN_PKG=OFF" >> $GITHUB_ENV
          fi
          if (( $IS_RELEASE )) && [[ -n "$MACOS_NOTARIZE_TEAMID" ]]; then
            echo "MACOS_NOTARIZE=ON" >> $GITHUB_ENV
          else
            echo "MACOS_NOTARIZE=OFF" >> $GITHUB_ENV
          fi

      - name: "app: configuration & vendor dependencies"
        uses: lukka/run-cmake@v10.8
        with:
          configurePreset: ci-macos

      - name: "app: build"
        uses: lukka/run-cmake@v10.8
        with:
          configurePreset: ci-macos
          buildPreset: ci-macos

      - name: "setup: save vcpkg cache"
        uses: actions/cache/save@v4
        with:
          path: ${{ github.workspace }}/vcpkg_cache
          key: vcpkg-${{ matrix.os.arch_triplet }}-${{ hashFiles('vcpkg-vendor/vcpkg.json', '.git/modules/vcpkg-vendor/vcpkg/HEAD', 'vcpkg-vendor/vcpkg-overlay-*/**') }}

      - name: "vendor: save archive"
        uses: actions/upload-artifact@v4
        with:
          name: vendor-macos-${{ runner.arch }}-py${{ env.PY_VER }}
          path: build/vcpkg-vendor/kart-vendor.*.tar.gz
          if-no-files-found: error

      #
      # App tests & checks
      #

      - name: "test: smoke test"
        run: |
          ./build/kart --version

      - name: "test: install clone_checker for reflink testing"
        run: |
          git clone https://github.com/dyorgio/apfs-clone-checker.git
          cd apfs-clone-checker
          gcc clone_checker.c -o clone_checker
          chmod +x clone_checker
          sudo mv clone_checker /usr/local/bin/

      - name: "test: unit tests"
        uses: lukka/run-cmake@v10.8
        with:
          configurePreset: ci-macos
          testPreset: ci-macos

      #
      # Packaging
      #

      - name: "bundle: setup app signing certificate"
        id: keychain
        uses: apple-actions/import-codesign-certs@v5
        if: env.MACOS_SIGN_BUNDLE == 'ON'
        with:
          # This action auto generates the keychain password (only works if the keychain name is "signing_temp").
          keychain: ${{ env.MACOS_NOTARIZE_KEYCHAIN_FILENAME }}
          p12-file-base64: ${{ secrets.MACOS_APP_CERT }}
          p12-password: ${{ secrets.MACOS_CERT_PW }}

      - name: "bundle: setup notarization auth"
        if: env.MACOS_NOTARIZE == 'ON'
        env:
          MACOS_NOTARIZE_TEAMID: ${{ secrets.MACOS_NOTARIZE_TEAMID }}
          MACOS_NOTARIZE_USER: ${{ secrets.MACOS_NOTARIZE_USER }}
          MACOS_NOTARIZE_PW: ${{ secrets.MACOS_NOTARIZE_PW }}
        run: |
          xcrun notarytool store-credentials "$MACOS_NOTARIZE_KEYCHAIN_PROFILE" \
              --apple-id "$MACOS_NOTARIZE_USER" \
              --team-id "$MACOS_NOTARIZE_TEAMID" \
              --password "$MACOS_NOTARIZE_PW" \
              --keychain "$MACOS_NOTARIZE_KEYCHAIN"

      - name: "bundle: assemble"
        uses: lukka/run-cmake@v10.8
        with:
          configurePreset: ci-macos
          buildPreset: ci-bundle-macos

      - name: "bundle: smoke test"
        shell: bash
        run: |
          ./build/pyinstaller/dist/Kart.app/Contents/MacOS/kart --version

      - name: "bundle: e2e tests"
        uses: lukka/run-cmake@v10.8
        with:
          configurePreset: ci-macos
          testPreset: ci-e2e-macos

      - name: "package: setup installer signing certificate"
        uses: apple-actions/import-codesign-certs@v5
        if: env.MACOS_SIGN_PKG == 'ON'
        with:
          create-keychain: false
          keychain-password: ${{ steps.keychain.outputs.keychain-password }}
          p12-file-base64: ${{ secrets.MACOS_INSTALLER_CERT }}
          p12-password: ${{ secrets.MACOS_CERT_PW }}

      - name: "package: ZIP & PKG"
        shell: bash
        run: |
          cpack --preset=ci-macos

      - name: "package: save ZIP"
        uses: actions/upload-artifact@v4
        with:
          name: Kart-macOS-${{ runner.arch }}-bundle
          path: build/dist/Kart-*.zip
          if-no-files-found: error

      - name: "package: save PKG"
        uses: actions/upload-artifact@v4
        with:
          name: Kart-macOS-${{ runner.arch }}-installer
          path: build/dist/Kart-*.pkg
          if-no-files-found: error

      - name: "package: tests"
        run: |
          sudo installer -pkg build/dist/Kart-*.pkg -dumplog -target /
          readlink $(which kart)
          # make sure good sqlite is in path
          export PATH="$(pwd)/build/vcpkg_installed/${{ env.ARCH_TRIPLET }}/tools:$PATH"
          tests/scripts/e2e-1.sh

      - name: "release"
        uses: softprops/action-gh-release@v1
        if: "steps.version.outputs.is_release == 1"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          draft: true
          files: |
            build/dist/Kart-*.zip
            build/dist/Kart-*.pkg
